/* .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */

.leaflet-control-attribution {
  display: none;
}

  #contact {
    position: relative;
    min-height: 793px;
  }

  #contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    min-height: 430px;
  }

  #form-part {
      background-color: white;
      /* box-shadow: 0 0 10px lightgray; */
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 401 !important;
      padding: 10px 2vw;
  }

  #form-part .MuiPaper-root {
    margin-bottom: 10px;
  }

  #info-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px;
    padding: 10px 2vw;
  }

  #info-part h1, #info-part h5  {
    margin: 5px 0;
    text-align: center;
  }

  #info-part h1 {
    font-family: 'Questrial';
    font-size: 37px;
    font-weight: 200;
  }

  #info-part h5 {
    font-size: 18px;
    font-weight: 100;
    color: #848484;

  }

  #info-part p {
    line-height: 1.45;
  }

  .MuiInputBase-input {
    padding: 10px !important;
  }

  form, .MuiFormControl-root {
      width: 100% !important;
  }

  .MuiFormControl-root {
    position: relative;
  }

  .MuiFormHelperText-root {
    position: absolute;
    left: 5px;
    bottom: -20px;
  }



